<!-- <p>testpipe works!</p>
<p>{{message}}</p>
<p>{{message|lowercase}}</p>
<p>{{message|titlecase}}</p>
<p>{{today|date}}</p>
<p>{{today|date:"dd/MM/YY"}}</p>
<p>{{today|date:"fullDate"|uppercase}}</p>
<p>{{today|date:"shortTime"}}</p> 

<h3>Currency Pipes</h3>
<br>
<h4>Euro:<b>price of laptop {{650|currency:"EUR":false}}</b></h4>
<h4>Euro:<b>price of laptop {{650|currency:"EUR"}}</b></h4>
<h4>USA:<b>price of laptop {{650|currency:"USA":false}}</b></h4>
<h4>USA:<b>price of laptop {{650|currency:"USA" :true}}</b></h4>
<h4>India:<b>price of laptop {{650|currency:"INR":false}}</b></h4>
<h4>India:<b>price of laptop {{650|currency:"INR"}}</b></h4>-->
<!-- <h3>Decimal Pipes</h3>
<br>
<p>012.34546     045.6752       006.345</p> 
<div> 
<p> {{12.345456 | number:'3.2-5'}} </p>  
<p> {{45.6752 | number:'3.2-5'}} </p>  
<p> {{6.345456 | number:'3.2-3'}} </p> 
</div> 

<p> {{0.12 | percent}} </p>

<pre> {{book | json}} </pre> 

<h3>Slice Pipe</h3> 
<b>{{sports | slice:2:6}}</b> <br> -->
<!--Output : Rugby,Chess,FotBall,BasketBall --> 
<!--<b>{{sports | slice:2:-4}}</b>-->
<!--  Output : rugby chess --> 

<!--<p>{{"Programming"|slice:0:6|uppercase}}</p> -->

<h3>The Square Root of 9 :- {{9|sqrt}}</h3>