<p>demo-myform works!</p>
    <div class="form-container">
        <h2>User Form</h2>
        <form (ngSubmit)="onFormSubmit(myform)" #myform="ngForm" method="post">
            <div class="form-group">
                <label for="name">FirstName</label>
                <input type="text" id="fname" name="fname" #userName="ngModel" ngModel required>
                <span *ngIf="!userName?.valid && userName.touched"><b>User Name must be entered</b></span>
            </div>
            <div class="form-group">
                <label for="name">LastName</label>
                <input type="text" id="lname" name="lname" ngModel required>
            </div>
            <div class="form-group">
                <label for="name">Age</label>
                <input type="text" id="age" name="age" ngModel required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" ngModel required>
            </div>
            <div class="form-group">
                <label for="DOB">Date of Birth</label>
                <input type="date" id="DOB" name="DoB" ngModel required>
            </div>
            <div class="form-group">
                <label for="addr">Address</label>
                <textarea id="addr" name="addr" rows="4" ngModel required></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <p>{{myform.value|json}}</p>

