<!-- <h2>Hello World.....</h2>
<h1>Welcome Admin</h1>
<app-first></app-first>
<app-productdetails></app-productdetails> 
<app-itemdetails></app-itemdetails>
<app-main></app-main>
<app-parent></app-parent>
<app-ifdemo></app-ifdemo>
<app-fordemo></app-fordemo>
<app-switchdemo></app-switchdemo>
<app-attribute-demo-component></app-attribute-demo-component>
<p myColor="red" >This is para to which custom attribute direcive is applied</p>
<app-testpipe></app-testpipe>
<app-demo-data-binding></app-demo-data-binding>
<app-demoevent-h></app-demoevent-h>
<app-event-demo-two></app-event-demo-two>
<app-demo-parent></app-demo-parent>
<app-demo-myform></app-demo-myform>
<app-demo-asynchronize-form></app-demo-asynchronize-form>
<app-reactive-form></app-reactive-form>
<app-reactive-form-validation></app-reactive-form-validation>-->
<!-- <nav>
    <a routerLink="">Home</a>
    <a routerLink="/contact">Contact Us</a>
    <a routerLink="/tempForm">Template Driven Form</a>
    <a routerLink="/service">Services</a>
    <a routerLink="/courses">Coureses</a>
    <a routerLink="/testserv">Test Service</a>
    
</nav>

<app-httpcomp></app-httpcomp>-->
<!-- <nav>
    <a routerLink="">All Posts</a>
    <a routerLink="/createPost">Create post</a>
</nav>
<router-outlet></router-outlet> -->
<app-product></app-product>