
    <p>Lab4-Q6</p>
    <div class="header">
        <img src="favicon.ico" ><br>
      Angular Application Development
    </div>
    <div class="employee-details-container">
      <fieldset>
        <legend>Employee details</legend>
        <div class="details">
          <p><span>Employee Code</span>: {{ employee.employeeCode }}</p>
          <p><span>Employee Name</span>: {{ employee.employeeName }}</p>
          <p><span>Gender</span>: {{ employee.gender }}</p>
          <p><span>Company</span>: {{ employee.company }}</p>
        </div>
      </fieldset>
    
  </div>