.ind {
    background-color: skyblue;
    color: orange;
}

.eng {
    background-color: #00247d;
    color: #fff;
}

.aus {
    background-color: #ffc107;
    color: #004d40;
}

.nz {
    background-color: #000;
    color: #fff;
}

.wi {
    background-color: #800000;
    color: #fff;
}

.sa {
    background-color: #004d40;
    color: #ffc107;
}
